
/* Start General Style */
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&display=swap');
$mainColor:#3B7575;
$accentColor:#EBA756;
$mainFontFamily:"Amiri",serif;
$mainFontSize:20px;

*{
    padding:0;
    margin:0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    font-size: $mainFontSize;
    color:$mainColor;
    direction: rtl;
    font-family: $mainFontFamily !important;
}
/* End General Style */
/* start UTILITIES Style */
p{
    color:#1b7272 !important;
    opacity: 0.6;
    font-size:25px;
    padding-top:10px !important;
}
/* end UTILITIES Style */


/*Start info Style*/
.whoarewe-info{
    padding:120px 0;
    header.whoarewe-header{
        font-size: 70px;
        border-radius: 10px;
        font-weight: bold;
    }
    section{
        border-right:3px solid $accentColor;
        margin-bottom:80px;
        header h2{
            font-size:40px !important;
        }
    }
}
/*End info Style*/